.card {
  margin: 10px;
  min-height: 180px;
  min-width: 400px;
  max-width: 400px;
  height: 100px;
  padding: 40px 50px 30px 50px;
  border: 2px transparent;
}
.card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

button {
  width: 100%;
}

mat-card-header {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 0 0 7px 0;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}