<div class="container__table">
  <table class="table">
    <thead>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Sub Total</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart$ | async">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{item.quantity * item.price | currency}}</td>
      </tr>
    </tbody>
  </table>
  <div class="container_total">
    <p class="total">
      <strong>Total:<span>{{ total$ | async | currency}}</span></strong>
    </p>
  </div>
</div>
